@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0 3.125rem;
    background-color: #000;
}

@layer components{
  .input{
    @apply text-darkgray bg-lightgray rounded-xl md:w-9/12
  }

  .label{
    @apply text-xl text-lightgray font-light tracking-wide mb-2
  }

  .field{
    @apply flex flex-col my-4 text-xl
  }
}

/* .logo-header{
  font-size: 2.5rem;
} 

.header{
  margin: 2rem 0;
}

.container{
  width: 60%;
  margin: 0 auto;
}

.survey{
  padding: 2rem;
}

.label{
  padding: 1rem 0;
}

.input{
  border-color: #dedede;
  border-radius: 10px;
  color: gray;
}

.button{
  border-radius: 6px;
  padding: 0.5rem 2rem;
  background-color: #1399fc;
  color: #fff;
}*/